.lable-wrapper {
  text-align: right;
  height: 36px;
  line-height: 36px;
  vertical-align: middle
}
.input-wrapper {
  height: 36px;
  line-height: 36px;
  vertical-align: middle
}
.button-wrapper {
  height: 36px;
  line-height: 36px;
  vertical-align: middle
}
.main-wrapper {
  margin-top: 32px
}
.sub-wrapper {
  margin-bottom: 12px
}
.pagination-wrapper {
  text-align: end
}
.height-match-parent {
  height: 100%;
}
.form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-body {
  padding: 16px;
  flex: 1;
}
.form-footer {
  height: 32px;
  margin: 0;
  padding: 12px;
}
.el-drawer__body {
  overflow: auto;
}
.el-drawer__container ::-webkit-scrollbar{
  display: none;
}
.small-bottom-interval {
  margin-bottom: 8px;
}
.el-popover {
  min-width: 0;
}